*{
  background-color: 2px solid red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    position: relative;
    width: 200px;
  }
  
  .box {
    width: 400px;
    height: 600px;
    margin: 0.5px;
    border: 2px solid black;
    /* position: relative; */
  }
  

  