

.wholeContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    outline: 3px solid black; 
    
}

.leftBox {
    /* width: 200px;
    height: 600px; */
    margin: .5px;
    border: 2px solid black; 
    position: relative; 
}

.relativeContainer {
    /* Styles for the relativeContainer */
    position: relative;
  }



 /* .homePage {
    outline: 2px solid black;
  min-width: 1px; 
 } */
  


