
.box {
  height: 90px;
  outline: 2px solid black;
  position: relative;
  top: 19px;
  border-radius: 50px;
  margin: 30px;
  flex-grow: 1;
  width: 1000px;
}

.container{
  display: flex;
  width: 900px;
  margin: auto;
}
   