
.box {
  height: 90px;
  outline: 2px solid black;
  position: relative;
  top: 19px;
  left: 180px;
  border-radius: 50px;
  margin: 10px;
  flex-grow: 1;
  width: 1000px;
}

.container{
  display: flex;
  width: 900px;
}
   